.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 41px 22% 35px 22%;

  width: 100%;

  overflow: auto;
}

.container {
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 21px;

  width: 100%;
}

.header {
  font-size: 36px;
  font-weight: 400;
  line-height: 42.19px;
  text-align: left;

  width: 100%;
  color: #000000;
}

.imageContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  border-radius: 12px;

  padding: 23px 32px;

  gap: 23px;

  background-color: #f5f5f5;

  width: 100%;
}

.image {
  box-sizing: border-box;

  border-radius: 12px;

  width: 100%;
}

.metaContainer {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  gap: 8px;
}

.date {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  color: #3e3232bf;
}

.markdown {
  width: 100%;

  color: black;
}
